<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create new posts</title>
</head>
<body>
    <h1>Create a New Post</h1>
    <form method="post" action="/posts">
        <input placeholder="enter username" name="username"> <br> <br>
        <textarea placeholder="write your post" name="content"></textarea><br>
        <button>Submit Post</button> 
   </form> 
</body>
</html>
